:root {
  /* using system fonts as suggested by https://css-tricks.com/snippets/css/system-font-stack/ */
  --system-ui: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

@font-face {
  font-family: 's-italic';
  src: url('./../assets/fonts/Spectral-Italic.ttf') format('truetype');
}

@font-face {
  font-family: 'open-sans';
  src: url('./../assets/fonts/OpenSans.ttf') format('truetype');
}

* {
  margin: 0;
  border: none;
}

/* Below for displaying checkbox square. Absent previously due to CSS reset */
input[type="checkbox"] {
  appearance: auto;
}

input,
select {
  border: 1px solid grey;
}

:root,
body {
  box-sizing: border-box;
}


body {
  /* font-family: var(--system-ui); */
  height: 100vh;
  display: grid;
  grid-template: 1fr 15fr / 1fr 3fr;
  font-family: 'open-sans';
  font-size: 0.95em;
}

#main-header {
  grid-area: 1 / 1 / 2 / 3;
  /* background: radial-gradient(circle at 24.1% 68.8%, rgb(50, 50, 50) 0%, rgb(16 83 113) 99.4%); */
  background: radial-gradient(circle at 24.1% 68.8%, rgb(50, 50, 50) 0%, rgb(16 83 113) 99.4%);
  display: flex;
  align-items: center;
  justify-content: center;
}

#main-header h1 {
  color: #f0f8ff;
  /* font-style: italic; */
}

#left-bar {
  grid-area: 2 / 1 / 3 / 2;
  background: radial-gradient(circle at -4% -12.9%, rgb(74, 98, 110) 0.3%, rgb(30, 33, 48) 90.2%);
  /* padding: 0.7em 1em 0.7em 0.7em; */
  padding: 0.7em 0;
  line-height: 2em;
  color: lightgray;
  overflow-y: auto;
  min-width: 200px;
  /* font-size: 0.95em; */
  font-family: 's-italic';
}

#left-bar,
#main-header h1,
#right-div h2,
th {
  /* font-family: s-italic; */
}


#projects-container .left-bar-span {
  padding-right: 2em;
}

.left-bar-span {
  padding-right: 0.5em;
  font-size: 0.85em;
}

.project-icon {
  font-size: 0.5em;
}

/* .............................................. */
/* code related to expansion & collapsing of divs 
 starting here*/

#left-bar .showHide {
  display: flex;
  justify-content: space-between;
}

#left-bar .showHide:hover {
  /* background: linear-gradient(45deg, #009688, transparent); */
}

#left-bar #proj-showHide-left-p {
  padding-left: 1em;
}

#left-bar .showHide-left-p {
  padding-bottom: 0.1em;
  /* font-weight: 600; */
  width: 90%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

#left-bar .showHide:hover,
#projects-container>p:hover,
#left-bar .project-tasks>p:hover {
  cursor: pointer;
  color: mintcream;
  background: linear-gradient(45deg, #303435, transparent);
  /* background: #f2f2f2; */
  font-weight: 600;
}


#left-bar .showHide .arrow {
  border: solid #9E9E9E;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
}

#left-bar .sub-showHide {
  padding-left: 2em;
}

#left-bar .showHide-right-p,
.project .showHide-right-p {
  padding-right: 1em;
  width: 10%;
}

.hidden {
  display: none;
}

.arrow-expand {
  transform: rotate(44deg);
  -webkit-transform: rotate(44deg);
}

.arrow-collapse {
  transform: rotate(310deg);
  -webkit-transform: rotate(310deg);
}

/* .............................................. */
/* code related to expansion & collapsing of divs 
 ending here*/

#projects-container>p {
  padding-left: 2em;
  display: flex;
}

#projects-container p .left-bar-span {
  width: 1.7em;
}

#projects-container p .left-bar-span-task {
  /* font-size: 0.5em; */
  padding-right: 2em;
}

#projects-container p .at-pin {
  font-size: 0.6em;
}

/* #projects-container p .task-title {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
} */

#projects-container .project {
  flex-direction: column;
}

.project-tasks {
  /* background: #f0eeee; */
  background: linear-gradient(45deg, #607D8B, transparent);
}

.project-tasks p {
  display: flex;
}

.project-tasks p {
  padding-left: 4em;
}

.project-tasks .at-arrow-right {
  font-size: 0.5rem;
}

#right-div {
  grid-area: 2 / 2 / 3 / 3;
  /* background: radial-gradient(circle at -4% -12.9%, rgb(74, 98, 110) 0.3%, rgb(30, 33, 48) 90.2%); */
  padding: 0.5em 1em;
  height: 100%;
  overflow: auto;
  /* font-family: 's-italic'; */
}

#right-div h2 {
  color: #b8860b;
  margin-bottom: 1em;
  font-family: 's-italic';
}

#right-div table {
  color: #696969;
  /* border: 1px solid grey; */
  width: 100%;
  table-layout: fixed;
  /* font-family: 's-italic'; */
  font-size: 0.95em;
}

/* Below property is used to be able to change border color etc.
https://stackoverflow.com/a/18679047 */
table {
  border-collapse: collapse;
}


#right-div table span {
  margin-right: 10px;
  cursor: pointer;
}

#task-td8 span,
#proj-td5 span {
  visibility: hidden;
}

#task-td8,
#proj-td5 {
  font-size: 1.1em;
  font-weight: 600;
  /* text-align: center; */
}

.task-details-icon:hover {
  color: #4169e1;
}

.at-pencil-edit:hover {
  color: #ffa500;
}

.at-xmark-clipboard:hover {
  color: #cd5c5c;
}

.at-check-circle:hover {
  color: #90ee90;
}

/* table tr {
  line-height: 1px;
} */

table td {
  /* border-left: 1px solid #d3d3d3; */
  /* border-right: 1px solid #d3d3d3; */
}

#proj-sum-table th:nth-of-type(1),
#proj-sum-table td:nth-of-type(1),
#proj-sum-table th:nth-of-type(3),
#proj-sum-table td:nth-of-type(3),
#proj-sum-table th:nth-of-type(4),
#proj-sum-table td:nth-of-type(4) {
  width: 50px;
}

#proj-sum-table th:nth-of-type(2),
#proj-sum-table td:nth-of-type(2) {
  width: 200px;
}

#proj-sum-table th:nth-of-type(5),
#proj-sum-table td:nth-of-type(5) {
  width: 100px;
}


#task-sum-table th:nth-of-type(1),
#task-sum-table td:nth-of-type(1),
#task-com-table th:nth-of-type(1),
#task-com-table td:nth-of-type(1) {
  width: 50px;
}

#task-sum-table th:nth-of-type(2),
#task-sum-table td:nth-of-type(2),
#task-com-table th:nth-of-type(2),
#task-com-table td:nth-of-type(2) {
  width: 400px;
}

#task-sum-table th:nth-of-type(3),
#task-sum-table td:nth-of-type(3),
#task-com-table th:nth-of-type(3),
#task-com-table td:nth-of-type(3) {
  width: 150px;
}

#task-sum-table th:nth-of-type(4),
#task-sum-table td:nth-of-type(4),
/* #task-sum-table th:nth-of-type(5),
#task-sum-table td:nth-of-type(5), */
/* #task-sum-table th:nth-of-type(6),
#task-sum-table td:nth-of-type(6), */
#task-com-table th:nth-of-type(4),
#task-com-table td:nth-of-type(4)
/* #task-com-table th:nth-of-type(5),
#task-com-table td:nth-of-type(5) */

/* #task-com-table th:nth-of-type(6),
#task-com-table td:nth-of-type(6) */
  {
  width: 100px;
}

#task-sum-table th:nth-of-type(5),
#task-sum-table td:nth-of-type(5),
#task-com-table th:nth-of-type(5),
#task-com-table td:nth-of-type(5) {
  width: 150px;
}


#right-div th {
  text-align: start;
  background: #494949;
  color: whitesmoke;
}

#right-div th,
#right-div tr {
  /* border: 1px solid #d3d3d3; */
}


/* #right-div table tr:hover {
  color: black;
  background: #cbcbcb;
} */

#right-div tr:nth-of-type(even) {
  background: #e7e7e7;
}

#right-div tr:nth-of-type(odd) {
  /* background: darksalmon; */
}

#right-div tr:hover {
  background: darkgrey;
  color: black;
}

#right-div th,
td {
  padding: 5px;
  text-align: start;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

/* #proj-td5 {
  display: flex;
} */

/* #right-div td:nth #right-div #proj-sum-div {
  height: 90%;
  background-color: pink;
} */

#right-div tr th:nth-child(4),
#right-div tr td:nth-child(4),
#right-div tr th:nth-child(5),
#right-div tr td:nth-child(5),
#right-div tr th:nth-child(6) {
  text-align: center;
}

#right-div tr td:nth-child(5) {
  text-transform: uppercase;
  font-weight: 600;
}

#right-div #proj-td5,
#right-div #task-td8 {
  display: flex;
  /* justify-content: center; */
  align-items: center;
  color: #2f4f4f;
  width: 100%;
  justify-content: center;
}

/* modal related code starting here........................................................ */

.modal-content-form input,
.modal-content-form select,
.modal-content-form textarea {
  font-size: 1em;
  padding: 5px;
  width: 100%;
  border-radius: 5px;
  border: 1px solid #E5E7EB;
}

.message {
  font-size: 12px;
  letter-spacing: 0.1em;
}

.modal {
  /* font-family: 'OpenSans'; */
  /* font-family: 'cursive'; */
  /* font-weight: bold; */
  display: none;
  position: fixed;
  /* Sit on top */
  z-index: 1;
  /* Location of the box */
  /* padding-top: 60px; */
  padding-top: 3em;

  left: 0;
  top: 0;
  /* Full width */
  width: 100%;
  /* Full height */
  height: 100%;
  /* Enable scroll if needed */
  overflow: auto;
  /* Fallback color */
  background-color: rgb(0, 0, 0);
  /* Black w/ opacity */
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* align-items: center; */
  background-color: #fefefe;
  margin: auto;
  /* padding: 0px 0px 20px 0px; */
  /* border: 1px solid #888; */
  border-radius: 10px;
  width: 21%;
  min-width: fit-content;
}

#details-modal-content {
  width: 70%;
}

.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  /* background: radial-gradient(circle at 24.1% 68.8%, rgb(50, 50, 50) 0%, rgb(0, 0, 0) 99.4%); */
  /* background: #d3d3d3; */
  border-bottom: 3px solid dimgray;
  /* height: 3em; */
  padding: 0px 10px;
  border-radius: 10px 10px 0px 0px;
  color: dimgray;
}

.modal-header h3,
#del-confirm-proj,
#del-confirm-task,
#complete-confirm-task {
  font-family: s-italic;
  font-size: 1.2em;
}

.modal-header span {
  align-self: flex-start;
}

.modal-content-form {
  padding: 20px 10px 0px;
}

.modal-content-form form {
  display: flex;
  flex-direction: column;
}

.label-and-tooltip-pair-div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 1px;
  /* width: 220px; */
  width: 100%;
}

.heading {
  font-size: 0.98em;
  letter-spacing: 0.03em;
  color: #2f4f4f;
}

input,
textarea {
  border-color: #E5E7EB;
  color: dimgray;
  font-family: s-italic;
}

input:focus,
textarea:focus,
select:focus {
  outline: none;
  border-color: #3b7dff;
  box-shadow: 0 3px 6px 0 lightgray;

}

input:invalid,
.error:invalid {
  border-color: red;
  /* border: 2px solid #ff4500; */
}

select {
  color: #696969;
  font-family: 's-italic';
}

textarea {
  /* width: 100%; */
  height: 90px;
}

.modal-footer {
  margin: 0.5em 0;
}


/* below snippets taken from https://www.instantshift.com/2018/05/11/create-tooltip-using-css/ .....................*/
.tooltip {
  display: inline;
  position: relative;
  background: rgba(0, 0, 0, 0.1);
  padding: 0px 5px;
  border-radius: 100%;
  font-size: 14px;
  cursor: help;
  opacity: 1;
  display: none;
}

.tooltip::before,
.tooltip::after {
  position: absolute;
  left: 50%;
  opacity: 1;
  transition: allease0.3s;
}

.tooltip::before {
  content: "";
  border-width: 10px 8px 08px;
  border-style: solid;
  /* border-color: rgba(0, 0, 0, 0.3) transparent transparent transparent; */
  border-color: #e1e1e1 transparent transparent transparent;
  top: -20px;
  margin-left: -8px;
}

.tooltip::after {
  content: attr(data-tooltip);
  /* background: rgba(0, 0, 0, 0.3); */
  background: #e1e1e1;
  /* border: 2px solid #d3d3d3; */
  color: #2f4f4f;
  top: -20px;
  transform: translateY(-100%);
  font-size: 14px;
  margin-left: -150px;
  width: 300px;
  border-radius: 10px;
  /* color: #fff; */
  padding: 14px;
}

/* Hover states */

.tooltip:hover::before,
.tooltip:hover::after {
  opacity: 1;
}

/*tooltip related code ending here...............................................................................  */

.form-input-div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 3% 0%;
}

#task-details-form .form-input-div {
  margin: 8px 0%;
}

.form-input-div label {
  margin-bottom: 3px;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  align-self: flex-start;
}

.close:hover,
.close:focus {
  color: #ff7f50;
  text-decoration: none;
  cursor: pointer;

}

.form-info-brackets {
  color: grey;
  font-style: italic;
  font-size: 0.8em;
  visibility: hidden;
}

#del-confirm-proj,
#del-confirm-task,
#complete-confirm-task {
  color: #696969;
  display: none;
  text-align: center;
}

.modal-content .btn-div {
  display: flex;
  justify-content: center;
}

.form-button {
  cursor: pointer;
  padding: 10px;
  border-radius: 5px;
  color: #ffffff;
  font-weight: bold;
  margin: 20px 3px 0px;
}

/* .modal .form-button:hover {
  background: #cd5c5c;
  color: whitesmoke;
} */

.form-button[type='submit'] {
  background: #1abc9c;
  /* padding: 10px 15px; */
}

.form-button[type='submit']:hover {
  background: #008080;
}

.form-button[type='reset'],
.form-button[type='button'] {
  background: #f9fafa;
  border: 1px solid #d3d3d3;
  color: #696969;
}

.form-button[type='reset']:hover {
  background: #d3d3d3;
}

/* modal related code ending here... */

/* toast related code starting here */
.toast {
  display: flex;
  justify-content: center;
  padding: 0.5em 0;
  margin: 0.5em 0;
  color: white;
  font-style: italic;
}

.success-toast {
  background-color: #20b2aa;
}

.error-toast {
  background-color: #cd5c5c;
}

/* toast related code ending here */

/* <datalist> and <option> styling */
datalist {
  position: absolute;
  max-height: 20em;
  border: 0 none;
  overflow-x: hidden;
  overflow-y: auto;
}

datalist option {
  font-size: 0.8em;
  padding: 0.3em 1em;
  background-color: #ccc;
  cursor: pointer;
}

datalist option:hover,
datalist option:focus {
  color: #fff;
  background-color: #036;
  outline: 0 none;
}