:root {
  /* using system fonts as suggested by https://css-tricks.com/snippets/css/system-font-stack/ */
  --system-ui: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

* {
  margin: 0;
  border: none;
}

/* Below for displaying checkbox square. Absent previously due to CSS reset */
input[type="checkbox"] {
  appearance: auto;
}

input,
select {
  border: 1px solid grey;
}

:root,
body {
  box-sizing: border-box;
}


body {
  font-family: var(--system-ui);
  height: 100vh;
  display: grid;
  grid-template: 1fr 9fr / 1fr 4fr;
}

header {
  grid-area: 1 / 1 / 2 / 3;
  background: radial-gradient(circle at 24.1% 68.8%, rgb(50, 50, 50) 0%, rgb(0, 0, 0) 99.4%);
  display: flex;
  align-items: center;
  justify-content: center;
}

#left-bar {
  grid-area: 2 / 1 / 3 / 2;
  background: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
  /* padding: 0.7em 1em 0.7em 0.7em; */
  padding: 0.7em 0;
  line-height: 1.5em;
}

#left-bar #proj-showHide-left-p {
  padding-left: 1em;
}

#left-bar .showHide-left-p {
  font-weight: 600;
  width: 90%;
}

#left-bar .showHide:hover,
#left-bar p:hover 
{
  cursor: pointer;
  color: blueviolet;
  background: white;
  font-weight: 600;
}

#projects-container .left-bar-span {
  padding-right: 0.7em;
}

.left-bar-span {
  padding-right: 0.5em;
}

#left-bar .showHide {
  display: flex;
  justify-content: space-between;
}

#left-bar .showHide .arrow {
  border: solid #9E9E9E;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
}

#left-bar .sub-showHide {
  padding-left: 2em;
}

#left-bar .showHide-right-p,
.project .showHide-right-p {
  padding-right: 1em;
  width: 10%;
}

/* #left-bar .showHide .right-arrow,
.project .showHide .right-arrow {
  transform: rotate(44deg);
  -webkit-transform: rotate(44deg);
} */

/* .expand {
  display: block;
} */

.hidden {
  display: none;
}

.arrow-expand {
  transform: rotate(44deg);
  -webkit-transform: rotate(44deg);
}

.arrow-collapse {
  transform: rotate(310deg);
  -webkit-transform: rotate(310deg);
}

#projects-container > p {
  padding-left: 2em;
  display: flex;
}

#projects-container p .left-bar-span {
  width: 1.7em;
}

#projects-container p .left-bar-span-task {
  width: 3.5em;
}

#projects-container .project {
  flex-direction: column;
}

/* .project-tasks {
  display: none;
} */

.project-tasks p {
  display: flex;
}

.project-tasks p {
  padding-left: 3em;
}

.project-tasks .at-arrow-right {
  font-size: 0.5rem;
}

#right-content {
  grid-area: 2 / 2 / 3 / 3;
  background: radial-gradient(circle at -4% -12.9%, rgb(74, 98, 110) 0.3%, rgb(30, 33, 48) 90.2%);
}

header h1 {
  color: white;
}